<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
      <title>Monthly Roto Standings</title>
      <link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" type="text/css" href="css/layout.css" />
      <%= javascripts %>
      <%= styles %>
  </head>
  <body>
    <h1>Monthly Roto Standings</h1>
    <hr />
    <div id="links">
      <a href="#" class="points-stats-toggle" data-showing="points">Show Stats</a>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>